#one-case{
  padding: 1em;
  border-left: 1px solid black;

  #one-case-header{
    border-top: 1px solid black;
    border-bottom: 1px solid black;

  }

  #time-drop-down{
    margin-top: 1em;
    height: 100%;
  }

  #one-case-details{
    border-bottom: 1px solid black;

    ul{
      padding-left: 0;
    }

    #display-one-case-despositions{
      #upcoming-past{
        display: flex;
        align-items: center;
        margin-bottom: 1em;
      }
    }
  }
}

#display-one-case-desposition{
  #upcoming-past-toggle{
    margin-top: 1.2em;
    
    span{
      border: 1px solid black;
      padding: .5em 1em;
    }
  
    span:hover{
      background-color: lightgray;
    }
  }

  a{
    border: 1px solid black;
    margin-top: 1em;
    height: 100%;
    padding: .6em;
  }

  input{
    margin-top: 1.2em;
    margin-right: 1em;
    height: 30%;
  }

  ul{
    padding:0;

    li{
      border:1px solid black;
      padding: 1em;
    } 
  }
  
}