#mini-alerts{
  border-bottom: 2px solid black;

  ul{ 

    padding-left: 1em;

    li{
    list-style-type: none;
    padding: .2em;
    font-size: .7em;
    }
  }

  li:hover{
    background-color: lightgray;
  }
}