#dashboard{
  display: flex;
  
  a{
    text-decoration: none;
    color: black
  }

  #top-dash{
    display: flex;
  }

  .flex-container{
    display: flex;
    justify-content: space-between;

    span{
      font-size: .8em;
    }
  }
  #dashboard-main{
    padding-left: 1em;
    border-left: 2px solid black;
    width: 100%;


  }

  ul{

    li{
      list-style-type: none;
      display: flex;
      justify-content: space-between;
    }
  }
}